  <ul>
    <li class="wsep"><a href="<%= cgi_url %>?cmd=new"                           >Create</a></li>
    <li class="wsep"><a href="<%= cgi_url %>?cmd=edit&amp;page=<%= page_name %>">Edit</a></li>
    <li class="wsep"><a href="<%= cgi_url %>?cmd=src&amp;page=<%= page_name %>" >Source</a></li>
    <li class="wsep"><a href="<%= cgi_url %>?cmd=pdf&amp;page=<%= page_name %>" >PDF</a>
                     <a href="<%= cgi_url %>?cmd=dbg&amp;page=<%= page_name %>" >(debug info)</a></li>
    <li class="wsep"><a href="<%= cgi_url %>/<%= lang %>/FrontPage"             >Home</a></li>
    <li>             <a href="<%= cgi_url %>?cmd=pages"                         >Pages</a></li>
  </ul>
